.board{ 
    h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     float: left;
     margin: 10px;
     font-size: 3rem;
     padding-left: 18px;
     color: var(--main-title-color);
   }
}
  #top{
     background-color: var(--main--color);
   }
   
   #bottom{
     background-color: var(--secondary-color);
     display: flex;
   }

   #filter{
     padding-left: 30px;
   }