:root {
  --main--color: #cddae2;
  --secondary-color: #ffffff;
  --main-column-color: #cddae2;
  --main-card-color: #9cc6e2;
  --secondary-card-color: #77b9e6;
  --main-button-color: #aaafb3;
  --head-button-done: rgb(139, 194, 139);
  --head-button-noaction: rgb(243, 216, 140);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI VSS (Regular)", "Segoe UI";
  color: var(--main-color);
}

#root {
  height: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: (6, 1fr); /*(6, 1fr); Repeats 6 columns * 1 fraction*/
  grid-template-rows: 75px 1fr 1fr 1fr 1fr 1fr; /* 6 rows and the last one is set to 40px */
  grid-template-areas:
    "m m m m m m"
    "b b b b b b"
    "b b b b b b"
    "b b b b b b"
    "b b b b b b"
    "b b b b b b";
}

.app {
  grid-area: a;
}

.menu {
  grid-area: m;
}

.board {
  grid-area: b;
}

.menu {
  background-color: var(--main--color);
}

.menu h1 {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin: 10px;
  font-size: 3rem;
  padding-left: 20px;
  color: purple;
}

.menu button {
  float: right;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu button:hover {
  background-color: var(--main-column-color);
  color: grey;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.done {
  background-color: var(--head-button-done);
}

.no-action {
  background-color: var(--head-button-noaction);
}

.board {
  background-color: var(--secondary-color);
  display: flex;
}

.column {
  background-color: var(--main-column-color);
  color: var(--main-text-color);
  border: 1px var(--secondary-color);
  border-radius: 8px;
  flex-grow: 1;
  margin: 1rem;
  max-width: 100%;
  min-width: 10rem;
  font-size: 1rem;
}

.column #head {
  text-align: center;
  margin: 10px;
}

.column #title {
  float: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.column #head button {
  border-radius: 50%;
  color: rgb(82, 81, 81);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.column #head button:hover {
  background-color: var(--main--color);
  color: white;
}

.column #body {
  background-color: var(--body-column-color);
}

.card {
  background-color: var(--main-card-color);
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px white solid;
  border-radius: 8px;
  display: flex;
  min-height: 6.5rem;
  font-size: 0.9rem;
  font-weight: 200;
  padding: 5px;

  position: relative;
}

.card:hover {
  background-color: var(--main-column-color);
  color: grey;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card #head-left {
  float: left;
  font-weight: 600;
}

.card #head-right {
  position: 100%;
  right: 5px;
  font-weight: 600;
}

.card #content {
  padding-left: 5px;
  font-weight: 400;
}
